<div>
    <h1>Your Dashboard</h1>
</div>


{{!-- test for the blogpost display --}}
{{#each blogposts as |blogpost| }}

<div class="card">
  <div class="card-header" onclick="redirectToBlogPost('{{blogpost.id}}')"  href="/blogpost/{{blogpost.id}}" role="button">
    <h5>{{blogpost.title}}
    </h5> 
    <p>posted by {{blogpost.user.name}} on {{format_date blogpost.date_created}} </p>
  </div>
  <div class="card-body">
    <p class="card-text"> {{blogpost.content}} </p>
  </div>
  <div class="card-header"></div>
</div>
{{/each}}





<div class="card">
  <div class="card-header" >
    <h5>Post title</h5> 
    <p>posted by ...</p>
  </div>
  <div class="card-body">
    <p class="card-text">Content of post. Content of post. Content of post. Content of post. Content of post.</p>
  </div>
  <div class="card-header"></div>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createNewPost">
  + New Post
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="createNewPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
            <input type="title" class="form-control" id="titleNewPost" >
            <label for="floatingInput">New title</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="contentNewPost" >
            <label for="floatingInput">Write your ideas</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

{{!-- end test modal --}}


 {{#if blogposts.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each blogposts as |blogpost|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{blogpost.id}}">{{blogpost.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blogpost.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>